<div id="step-<%-id%>" class="challenge-box flex-fill p-3 m-2 btn">
    <p class=" m-0 p-0">
        Étape <%-number%>
    </p>
    <script>
        $(document).ready(() => {
            $("#step-<%-id%>").on("click", () => {
                showDescription('<%- descLocation %>', '<%- description %>');
                showHint('<%-id%>'.charAt(0) + '-1', '1', '<%-hints[0].description%>', '<%-hints[0].hintId%>')
                showHint('<%-id%>'.charAt(0) + '-2', '2', '<%-hints[1].description%>', '<%-hints[1].hintId%>')
                selectStep(('<%-id%>'));
            });
        });
    </script>
</div>