<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../template/header', {isLogged}); %>
    </header>

    <main>


        <div class="section">
            <h1 class="section-title">Le Cercle</h1>
            <div class="section-content">
                <h5 class="challenge-intro-text">
                    Vous êtes membres du Cercle. <br />
                    Un groupe de hacker qui s'apprettent à réaliser le plus gros hack de l'histoire. <br /> <br />
                    Qui n'a jamais rêver de faire sauter le casino ? <br /> <br />
                    Chaque challenge correspond à un point faible identifié par le Cercle... et vous allez les exploiter
                </h5>
            </div>
        </div>

        <%- include('../template/challenge_1', {challenges}); %>
        <%- include('../template/challenge_3', {challenges}); %>


        <script>
            function checkFlag(challengeId, flag, renderId) {
                fetch("/api/flag/check", {
                        method: "POST",
                        headers: {
                            Accept: "application/json, text/plain, */*",
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            challengeId: challengeId,
                            flag: flag,
                        }),
                    })
                    .then((response) => response.json())
                    .then((json) => {
                        $(renderId).text(json.message);
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            }
        </script>

    </main>

    <footer>
        <%- include('../template/footer'); %>
    </footer>

</body>

</html>