<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../template/header', {isLogged}); %>
    </header>

    <main>


        <div class="section">
            <h1 class="section-title">Le Cercle</h1>
            <div class="section-content">
                <h5 class="challenge-intro-text">
                    Vous êtes membres du Cercle. <br />
                    Un groupe de hacker qui s'apprettent à réaliser le plus gros hack de l'histoire. <br /> <br />
                    Qui n'a jamais rêver de faire sauter le casino ? <br /> <br />
                    Chaque challenge correspond à un point faible identifié par le Cercle... et vous allez les exploiter
                </h5>
            </div>
        </div>

        <div class="section">
            <h1 class="section-title">Challenge 1 : Machines à sous</h1>
            <div class="section-content">
                <div class="d-flex flex-warp">
                    <% for(var i=0; i < 3; i++) { %>
                    <%- include('../template/step', {id: challenges[i].challenge.challengeId, number: i + 1,descLocation:'#description-chall-1', description: challenges[i].challenge.description, hints:challenges[i].hint} ); %>
                    <% } %>
                </div>
                <p id="description-chall-1" class="challenge-intro-text"></p>
                <%- include('../template/hint', {id: "1-1", number: 1, description: " : " + "", hintId: ""}); %>
                <%- include('../template/hint', {id: "1-2", number: 2, description: " : " + "",  hintId: ""}); %>
            </div>
        </div>

        <script>
            $(document).ready(() => {
                $('#step-1-1').trigger('click');
            });

            function showDescription(location, description) {
                $(location).text(description);
            }

            function showHint(id, number, description, hintId) {
                hintBoxId = "#hint-" + id
                hintButtonId = "#hint-button-" + id
                console.log(hintBoxId)
                console.log(hintButtonId)
                console.log(hintId)
                $(hintBoxId).text("Indice " + number + " : " + description);
                $(hintButtonId).attr("href", "/api/flag/useHint/" + hintId);
            }

            function selectStep(id) {
            // TODO 
            }
        </script>
    </main>

    <footer>
        <%- include('../template/footer'); %>
    </footer>

</body>

</html>