<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../template/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../template/header', {isLogged}); %>
  </header>

  <main>
    <p>This is profile page</p>

    <p>my picture</p>
    <img src="/public/<%-picture%>" alt="Profile picture" width="100" height="100">
    <input type="file" id="myfile" name="myfile" />

    <a class="nav-link" href="/profile?pre=whales">whales</a>
    <a class="nav-link" href="/profile?pre=slots">slots</a>
    <a class="nav-link" href="/profile?pre=shifts">shifts</a>

    <p>my username</p>
    <p>my prenium status</p>
    <% if (locals.pre ) { %>
    <% if (pre=="slots" ) { %>
    <p>PRE IS SLOTS</p>
    <% } %>

    <% if (pre=="whales" ) { %>
    <p>PRE IS whales</p>
    <% } %>

    <% if (pre=="shifts" ) { %>
    <p>PRE IS shifts</p>

    <% if (locals.data && data.length >0 ) { %>
    <table id="customer_data" class="table table-bordered">
      <thead>
        <tr>

          <% Object.keys(data[0]).forEach(key => { %>
          <th>De <%-key %></th>
          <% }) %>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(row => { %>
        <tr>
          <% Object.values(row).forEach(key => { %>
          <th><%-key %></th>
          <% }) %>
        </tr>

        <% }) %>
      </tbody>
    </table>
    <% } %>
    <% } %>
    <% } %>

    <p>Reviews ! See by our team</p>

    <form>
      <!-- Review input -->
      <div class="form-outline mb-4">
        <input id="reviewInput" type="text" class="form-control" />
        <label class="form-label" for="usernameInput">Email address</label>
      </div>

      <!-- Submit button -->
      <button id="sumitButton" type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

      <p id="confirmMessage">
      </p>
    </form>

    <script>
      // # piture change
      $("#myfile").change(function() {
        alert("A file has been selected.");
        // fetch 
        // https://stackoverflow.com/questions/48284011/how-to-post-image-with-fetch
        const fileInput = document.querySelector('#myfile');
        const formData = new FormData();

        formData.append('picture', fileInput.files[0]);

        const options = {
          method: 'POST',
          body: formData,
        };

        fetch('/api/user/updatePicture', options);
      });



      // # profile managment
      const form = {
        review: $("#reviewInput"),
        submit: $("#sumitButton"),
        messages: $("#confirmMessage"),

      };

      let button = form.submit.click(() => {
        const login = "/api/user/review";

        fetch(login, {
            method: "POST",
            headers: {
              Accept: "application/json, text/plain, */*",
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              review: form.review.val(),
            }),
          })
          .then((response) => {
            if (response.status == 200) {
              form.messages.text('merci!');
            } else {
              // form.messages.text(res.body.message);
              form.messages.text('error');
            }
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </main>

  <footer>
    <%- include('../template/footer'); %>
  </footer>

</body>

</html>