<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../template/header', {isLogged}); %>
    </header>

    <main>

        <div class="img-overlay">
            <img src="/static/images/slots_machines.jpg" alt="CS Games logo" class="img-cover" />
            <div class="overlay">
                <h1 class="test">Bienvenue au casino de l'Atlantide</h1>
                <p class="test">Découvrez dès maintenant nos machines à sous et tentez de gagner le jackpot!</p>
                <a type="button" href="/slots/<%-slot_id%>" class="btn-overlay btn btn-block">Acceder aux machines</a>
            </div>
        </div>

        <div class="section">
            <h1 class="section-title">L'histoire du casino</h1>
            <div class="section-content">

                <div class="d-flex">
                    <img class="profile-picture" src="/static/images/monaco.jpg" alt="Prenium picture">
                    <p class="premium-text">
                        En italien « casino » signifie « petite maison » <br />
                        <br />
                        C'était au xviie siècle en Vénétie, en Lombardie, ou en Toscane un lieu retiré, tranquille, loin du centre-ville, propice à la retraite, au repos, et réservé aux notables.
                        À Venise, dès cette époque, le ridotto (« réduit ») est l'espace qui, au sein d'une maison, est réservé spécifiquement aux jeux de société et/ou d'argent : c'est le « salon de jeux ».
                        <br />
                        <br />
                        Ce mot a donné, par corruption, « redoute » : ainsi, au siècle suivant, fleurissent des redoutes à Vienne, à Spa ; mais aussi des « vaux-halls », par exemple à Londres vers 1770, lieux de divertissements et d'agréments ; on trouve aussi la « banque », qui donne en allemand l'expression Spielbank (« casino »).
                        <br />
                        <br />
                        Mais c'est sous l'influence britannique que le terme casino va finalement s'imposer dès les années 1780-1790 et parce que le voyage en Italie était à la mode : on l'entendait au sens de « gentlemen's club », lieu où en effet les hommes se réunissaient en partie pour jouer aux cartes, au pharaon, ou au biribi.
                        En 1806, un guide de voyage signale un Casino-Gesellschaft à Aix-la-Chapelle, ainsi que d'autre sociétés privées spécialisées dans les jeux d'argent appelées « nouvelle redoute » ou « cassino » [sic]2. Le mot casino, non plus au sens de « maison de plaisance » — et parfois de « plaisirs » — mais de jeux d'argent passe dans l'usage courant en français vers 1850.
                        <br />
                        Source : Wikipédia
                        <br />
                        <br />
                        Fidèle à notre histoire, nous vous proposons ici des jeux de grand qualité.
                    </p>
                </div>
            </div>
        </div>

        <div class="section">
            <h1 class="section-title">Ils parlent de nous</h1>
            <div class="section-content">
                <%- include('../template/reviews', {reviews}); %>
            </div>
        </div>

        <!-- <div class="section">
            <h1 class="section-title">Nos partenaires</h1>
            <div class="section-content">
                <p>Cette section arrivera prochainement</p>
                Un flag ici ? mmm non c'est un peu trop simple
            </div>
        </div> -->

    </main>

    <footer>
        <%- include('../template/footer'); %>
    </footer>

</body>



</html>